<template>
    <section>
        <b-field label="Search game">
            <b-autocomplete
                :data="data"
                placeholder="e.g. Fifa"
                field="title"
                :loading="isFetching"
                @typing="getAsyncData"
                @select="option => selected = option">

                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img  v-if="props.option.cover" width="32" :src="`https://images.igdb.com/igdb/image/upload/t_thumb/${props.option.cover.image_id}.jpg`">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                            <br>
                            <small>
                                Released at {{ props.option.release_dates && props.option.release_dates[0].human }},
                                rated <b>{{ props.option.aggregated_rating || "-" }}</b>
                            </small>
                        </div>
                    </div>
                </template>
            </b-autocomplete>
        </b-field>
        <!-- <p class="content"><b>Selected:</b> {{ selected }}</p> -->
        <div v-if="selected" class="media">
            <div class="media-left">
                <img  v-if="selected.cover" width="32" :src="`https://images.igdb.com/igdb/image/upload/t_thumb/${selected.cover.image_id}.jpg`">
            </div>
            <div class="media-content">
                {{ selected.name }}
                <br>
                <small>
                    Released at {{ selected.release_dates && selected.release_dates[0].human }},
                    rated <b>{{ selected.aggregated_rating || "-" }}</b>
                </small>
            </div>
            <b-button @click="addGame">Add game</b-button>

        </div>
    </section>
</template>

<script>
    import debounce from 'lodash/debounce'

    export default {
        data() {
            return {
                data: [],
                selected: null,
                isFetching: false
            }
        },
        methods: {
            getAsyncData: debounce(function (name) {
                if (!name.length) {
                    this.data = []
                    return
                }
                this.isFetching = true
                fetch(process.env.NODE_ENV === 'development'? "http://localhost:8081/igdb/games" : `/igdb/games`, {
                    method: "post",
                    body: `fields release_dates.human, cover.*, id, name, slug, summary, aggregated_rating; search "` + name + `";`
                })
                    .then((response) => response.json())
                    .then(data => {
                        this.data = []
                        data.forEach((item) => this.data.push(item))
                    })
                    .catch((error) => {
                        this.data = []
                        throw error
                    })
                    .finally(() => {
                        this.isFetching = false
                    })
            }, 500),
            addGame() {
                this.$emit('gameAdded', this.selected)
                this.$buefy.notification.open( this.selected.name + ' added to games.')
                this.selected=null;
            }
        }
    }
</script>
