<template>
    <section class="section">
        <div class="container">
            <h1 class="title">Tournament management</h1>
            <hr>
            <h2 class="subtitle">
                Search for games and add them to the database:
            </h2>
            <GameAutocomplete @gameAdded="addGame" />

            <hr>

            <h2 class="subtitle">
                Add a tournament:
            </h2>
            <b-field grouped>
                <b-field label="Select game">
                    <b-select v-model="newTournament.game" placeholder="Select a game">
                        <option v-for="game in games" :value="game" :key="game.id">{{ game.name }}</option>
                    </b-select>
                </b-field>
                <b-field label="Select a date">
                    <b-datepicker v-model="newTournament.date" placeholder="Click to select..." icon="calendar-today">
                    </b-datepicker>
                </b-field>
                <b-field label="No. of players">
                    <b-numberinput v-model="newTournament.players" controls-position="compact"></b-numberinput>
                </b-field>
                <b-field label="-">
                    <button @click="addTournament" class="button is-primary">Add</button>
                </b-field>
            </b-field>
            <hr>
            <b-table :data="tournaments">

                <template slot-scope="props">
                    <b-table-column field="id" label="ID" width="40" numeric>
                        {{ props.row.id }}
                    </b-table-column>

                    <b-table-column field="game.name" label="Game">
                        {{ props.row.game.name }}
                    </b-table-column>

                    <b-table-column field="players" label="No.of players">
                        {{ props.row.players }}
                    </b-table-column>

                    <b-table-column field="date" label="Date" centered>
                        <span class="tag is-success">
                            {{ new Date(props.row.date).toLocaleDateString() }}
                        </span>
                    </b-table-column>

                    <b-table-column v-if="props.row.id" field="delete" label="" centered>
                        <b-button @click="()=>deleteTournament(props.row)" type="is-danger" icon-right="delete" />
                    </b-table-column>

                </template>
            </b-table>
        </div>
    </section>
</template>

<script>
    import GameAutocomplete from './components/GameAutocomplete.vue'

    const SERVER = process.env.NODE_ENV === 'development' ? "http://localhost:8081" : ""

    export default {
        name: 'app',
        components: {
            GameAutocomplete
        },
        data() {
            return {
                games: [],
                tournaments: [],
                newTournament: {},
                columns: [
                    {
                        field: 'game.name',
                        label: 'Game',
                    },
                    {
                        field: 'players',
                        label: 'No. of players',
                    },
                    {
                        field: 'date',
                        label: 'Date',
                        centered: true
                    },
                ]
            }
        },
        async created() {
            let res = await fetch(`${SERVER}/games`, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                },
                //body : JSON.stringify({igdb_id: game.id, name: game.name})   
            })
            if (res.ok) {
                let gms = await res.json();
                console.log(gms)
                gms.forEach(async element => {
                    let res2 = await fetch(`${SERVER}/igdb/games`, {
                        method: "post",
                        body: `fields release_dates.human, cover.*, id, name, slug, summary, aggregated_rating; where id = ` + element.igdb_id + `;`
                    })
                    let game = await res2.json();
                    game[0].db_id = element.id;
                    this.games.push(game[0])

                    let res3 = await fetch(`${SERVER}/games/${element.id}/tournaments`);

                    let tournaments = await res3.json();
                    tournaments.map(x => {
                        x.game = game[0];
                        return x;
                    })
                    this.tournaments = this.tournaments.concat(tournaments)

                    console.log(tournaments);
                });
            }
        },
        methods: {
            async addGame(game) {
                let data = {name: game.name, igdb_id: game.id};
                console.log("data: ", data)
                let res = await fetch(`${SERVER}/games`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                console.log(res)
                if (res.ok) {
                    this.games.push(game)
                    console.log(game)
                }


            },
            async addTournament() {
                if (!(this.newTournament.game && this.newTournament.date && this.newTournament.players)) return;
                console.log("data: ", this.newTournament)
                this.newTournament.gameId = this.newTournament.game.db_id;
                let res = await fetch(`${SERVER}/games/${this.newTournament.game.db_id}/tournaments`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.newTournament)
                })
                console.log(res)
                if (res.ok) {
                    this.tournaments.push(this.newTournament)
                    console.log(this.newTournament)
                }
            },
            async deleteTournament(t) {
                if (t.id) {
                    let res = await fetch(`${SERVER}/games/${t.game.db_id}/tournaments/${t.id}`,{
                        method: "DELETE"
                    });
                    if (res.ok) this.tournaments = this.tournaments.filter(x => x.id !== t.id)
                }
            }
        }
    }
</script>

<style>
    #app {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
